.App {
    font-family: Arial, Helvetica, sans-serif;
    color: #222222;
    
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#26272b;
  padding:10px;
  line-height:5px;
  color:#F2AF29; 
  font-weight: bold;
  text-align: center;   
    bottom:0;
    left:0;
    right:0;
    position:fixed;  
    font-size: 20px; 
}

nav {
    border-bottom: 4px solid #000000;
    text-align: center; 
    top: 0;
    width: 100%;
    background: #F2AF29; 
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 16px 32px;
    transition: 1s;
  }
  
  nav a:hover {
    background: #AD343E;
    padding: 10px;
    color: black;
  } 